.table {
  width: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  border-spacing: 0;
  /* border-collapse: collapse; */
}
.tr {
  height: 48px;
  display: table-row;
  outline: none;
  vertical-align: middle;
}
.tr:hover {
  background-color: #e7e6e6;
}
.th {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 4px 56px 4px 24px;
  text-align: left;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  font-weight: bold;
}
.td {
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 4px 56px 4px 24px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}
